.smsapi_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .smsapi_profile {
    flex-direction: row;
    column-gap: 20px;
  }
}
.smsapi_profile .card {
  display: flex;
  flex: 1;
  padding: 30px 30px;
  flex-direction: column;
  border: 1px solid rgba(212, 212, 218, 0.8);
  border-radius: 2px;
}
.smsapi_profile .card__title {
  text-align: center;
}
.smsapi_profile .card__title h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.smsapi_profile .card__content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.smsapi_profile .card__content .smsapi_profile_credentials, .smsapi_profile .card__content .smsapi_profile_account_type, .smsapi_profile .card__content .smsapi_profile_account_balance {
  display: flex;
  flex-direction: column;
}
.smsapi_profile .card__content .smsapi_profile_credentials__item, .smsapi_profile .card__content .smsapi_profile_account_type__item, .smsapi_profile .card__content .smsapi_profile_account_balance__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (min-width: 1400px) {
  .smsapi_profile .card__content .smsapi_profile_credentials__item, .smsapi_profile .card__content .smsapi_profile_account_type__item, .smsapi_profile .card__content .smsapi_profile_account_balance__item {
    flex-direction: row;
  }
}
.smsapi_profile .card__content .smsapi_profile_credentials__item .data, .smsapi_profile .card__content .smsapi_profile_account_type__item .data, .smsapi_profile .card__content .smsapi_profile_account_balance__item .data {
  font-style: italic;
}
.smsapi_profile .card__content .smsapi_profile_account_balance__item {
  justify-content: center;
}
.smsapi_profile .card__content .smsapi_profile_account_balance__item .profile_points {
  display: flex;
  flex-direction: column;
}
.smsapi_profile .card__content .smsapi_profile_account_balance__item .profile_points__value {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
.smsapi_profile .card__content .smsapi_profile_account_balance__item .profile_points__currency {
  font-size: 1rem;
  text-align: center;
}
.smsapi_profile .card__content .message {
  display: flex;
  font-weight: bold;
  justify-content: center;
}
