<div class="smsapi_profile">
  {# CARD 1 SMSAPI USER CREDENTIALS #}
  <div class="card">
    <div class="card__title">
      <h2>{{ 'Profile credentials'|t }}</h2>
    </div>
    <div class="card__content">
      {% if profile_data is defined and profile_data.username is not empty %}
        <div class="smsapi_profile_credentials">
          <div class="smsapi_profile_credentials__item">
            <div class="label">{{ 'Username:'|t }}</div>
            <div class="data">{{ profile_data.username }}</div>
          </div>
          <div class="smsapi_profile_credentials__item">
            <div class="label">{{ 'Email:'|t }}</div>
            <div class="data">{{ profile_data.email }}</div>
          </div>
          <div class="smsapi_profile_credentials__item">
            <div class="label">{{ 'Phone:'|t }}</div>
            <div class="data">{{ profile_data.phoneNumber }}</div>
          </div>
        </div>
      {% else %}
        <div class="message">{{ 'No data available. Check API KEY.'|t }}</div>
      {% endif %}
    </div>
  </div>

  {# CARD 2 SMSAPI ACCOUNT/PAYMENT TYPE #}
  <div class="card">
    <div class="card__title">
      <h2>{{ 'Account type'|t }}</h2>
    </div>
    <div class="card__content">
      {% if profile_data is defined and profile_data.username is not empty %}
        <div class="smsapi_profile_account_type">
          <div class="smsapi_profile_account_type__item">
            <div class="label">{{ 'Account type:'|t }}</div>
            <div class="data">{{ profile_data.userType }}</div>
          </div>
          <div class="smsapi_profile_account_type__item">
            <div class="label">{{ 'Payment type:'|t }}</div>
            <div class="data">{{ profile_data.paymentType }}</div>
          </div>
        </div>
      {% else %}
        <div class="message">{{ 'No data available. Check API KEY.'|t }}</div>
      {% endif %}
    </div>
  </div>

  {# CARD 3 SMSAPI ACCOUNT BALANCE #}
  <div class="card">
    <div class="card__title">
      <h2>{{ 'Account balance'|t }}</h2>
    </div>
    <div class="card__content">
      {% if profile_data is defined and profile_data.username is not empty %}
        <div class="smsapi_profile_account_balance">
          <div class="smsapi_profile_account_balance__item">
            <div class="profile_points">
              <div class="profile_points__value">{{ profile_data.points }}</div>
              <div class="profile_points__currency">{{ 'points'|t }}</div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="message">{{ 'No data available. Check API KEY.'|t }}</div>
      {% endif %}
    </div>
  </div>
</div>
